.home {
  width: 420px;
  margin: 0 auto;
}

.welcome h2 {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 32px;
  color: #444;
}

.card_grid {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
