.category_card {
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 16px;
  padding: 22px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.05);
}

.category_card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
}
